
    <section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1>Profile</h1>
    </div>
    </div>
    </div>
    </section>
    
    <section class="content">
    <div class="container-fluid">
    <div class="row">
        
    <div class="col-md-3">
    
    <div class="card card-red card-outline">
    <div class="card-body box-profile">
    <div class="text-center">
    <img class="profile-user-img img-fluid img-circle" src="../../dist/img/avatar4.png" alt="User profile picture">
    </div>
    <h3 class="profile-username text-center">{{main.userName}}</h3>
    <p class="text-muted text-center">{{main.permission}}</p>
    </div>
    
    </div>
    
    
    <div class="card card-outline card-red">
    <div class="card-header">
    <h3 class="card-title">Credentials</h3>
    </div>
    
    <div class="card-body">
    <strong><i class="fas fa-envelope mr-1"></i> E-mail </strong>
    <p class="text-muted">
    {{main.userEmail}}
    </p>
    </div>
    
    </div>
    
    </div>

    <div class="col-md-8">
        <div class="card card-red card-outline">
        <div class="card-header">
         About TO-DOoodle
        </div>
        <div class="card-body">
      
            <div class="col-lg-12">
                    <img src="../../dist/img/TO-DOoodle Logo.png" alt="Image" class="img-fluid">
                    <p class="card-text">
                        <b>TO-DOoodle</b> is the ultimate to-do application designed to simplify your life and boost your productivity. Say goodbye to sticky notes, scattered tasks, and missed deadlines. With TO-DOoodle, you'll regain control of your daily tasks and stay organized like never before.
                        Its the go-to solution for individuals, teams, and families looking to streamline their daily tasks and boost efficiency. Whether you're a student juggling assignments, a professional managing projects, or a busy parent coordinating family activities, TO-DOoodle has you covered.
                        Use TO-DOoodle today and experience the joy of a well-organized life. Say hello to productivity, and never let another task slip through the cracks again!
                    </p>
              </div>
    
        </div>
        </div>
        
    </div>


    </div>
    </section> 









       
    
     

    

  
    